%h2 Contact Banks Help

%p
  Contact Banks allow a group of people to contact another group of people for the purpose of
  motivating them or gathering information about them. Contact Banks that you are part of
  are listed on your dashboard. Click on the one to enter the overview for that Contact Bank.

%ol
  %li
    %p
      %strong Click on the Next Contactee button to start contacting people
    %hr
    = image_tag("/images/screenshots/contact-bank-overview.png")
    %hr
  %li
    %p
      %strong Contact the person however you want and by what's available (by phone, text or email)
    %hr
    = image_tag("/images/screenshots/contactee.png")
    %hr
  %li
    %p
      %strong Record the result of the contact as indicated below
    %hr
    = image_tag("/images/screenshots/contactee-annotated.png")
    %hr
  %li
    %p
      %strong
        If you get a successful contact, then you can update information about the contactee
        by clicking on the Edit button.
        You can update their information and tags about how they feel about things.
    %hr
    = image_tag("/images/screenshots/edit-contactee-annotated.png")
    %hr
  %li
    %p
      %strong Click on the Next Contactee button to move to the next contact
    %hr
    = image_tag("/images/screenshots/contactee-next-annotated.png")
    %hr
