%h2 Sign Up Help

%p
  To sign up for an organization on this web site, you must first create an account. Accounts
  must have a confirmed email address so after the first sign up screen you are asked to check
  your email to confirm your email address and then login.

%ol
  %li
    %p
      %strong On first visit you are presented this page
    %hr
    = image_tag("/images/screenshots/welcome-annotated.png")
    %hr
  %li
    %p
      %strong Click on the Sign Up button and you will see
    %hr
    = image_tag("/images/screenshots/sign-up-annotated.png")
    %hr
  %li
    %p
      %strong You will receive an email. Click on the confirm email link.
    %hr
    = image_tag("/images/screenshots/confirmation-email-annotated.png")
    %hr
  %li
    %p
      %strong Join your organization
    %hr
    = image_tag("/images/screenshots/join-org-annotated.png")
    %hr
  %li
    %p
      %strong Fill out your personal information
    %hr
    = image_tag("/images/screenshots/membership-step-1-annotated.png")
    %hr
  %li
    %p
      %strong Skip past the volunteer step by clicking Next Step
    %hr
    = image_tag("/images/screenshots/membership-step-1.png")
    %hr
  %li
    %p
      %strong You are in! You are presented with your dashbaord.
    %hr
    = image_tag("/images/screenshots/dashboard.png")
