- section = question.questionnaire_section
- questionnaire = section.questionnaire
- disabled = read_only
%div{class:'col-md-9'}
  - if question.question_type == Question::QUESTION_TYPE_SHORT_TEXT
    - if read_only
      .read_only_label= question.text
      %p= f.object.text
    - else
      = f.input :text, as: :string, label: question.text, input_html: { disabled: disabled }
  - elsif question.question_type == Question::QUESTION_TYPE_LONG_TEXT
    - if read_only
      .read_only_label= question.text
      %p
        - if f.object.text
          = Kramdown::Document.new(f.object.text).to_html.html_safe
    - else
      = f.input :text, label: question.text, input_html: {rows: 10, disabled: disabled }
  - elsif question.question_type == Question::QUESTION_TYPE_CHECKBOXES
    - if read_only
      .read_only_label= question.text
      - question.choices.each do |choice|
        .read_only_check_boxes
          .check_box_content
            - if f.object.text_checkboxes.include?(choice.value)
              %span.check_box x
            - else
              %span.check_box &nbsp;
          .check_box_title
            = choice.title
    - else
      = f.input :text_checkboxes, label: question.text, as: :check_boxes, collection: Hash[question.choices.map{|c| [c.title, c.value]}], input_html: { disabled: disabled }
  - elsif question.question_type == Question::QUESTION_TYPE_MULTIPLE_CHOICE
    = f.input :text, label: question.text, as: :radio, collection: Hash[question.choices.map{|c| [c.title, c.value]}], input_html: { disabled: disabled }
  - elsif question.question_type == Question::QUESTION_TYPE_RANKED_CHOICE
    %div.input.optional.form-group
      %div.form-label
        %label.control-label= question.text
    - if f.object.errors.present?
      .error= f.object.errors.full_messages.join
    - question.choices.each_with_index do |choice, index|
      %div.radio
        = select_tag "#{f.object_name}][text_ranked_choices][]", options_for_select(question.choices.map.with_index{|c, index| [index+1, index]} + [["", "-"]], f.object.text_ranked_choices.empty? ? "-" : f.object.text_ranked_choices[index]), class: 'form-control narrow', disabled: disabled
        &nbsp;
        = ranked_choice_with_link(choice.title)
  - else
    %p Question: #{question.id}, #{question.text}, type: #{question.question_type}
- if edit_tools
  .col-md-3
    = link_to "+", new_questionnaire_question_path(questionnaire, questionnaire_section_id: section.id, after_order_index: question.order_index), class: 'btn btn-sm btn-success'
    = link_to "E", edit_question_path(question), class: 'btn btn-sm btn-info'
    = link_to "^", move_up_question_path(question), method: :put, class: 'btn btn-sm btn-info'
    = link_to "v", move_down_question_path(question), method: :put, class: 'btn btn-sm btn-info'
    = link_to "-Q", question_path(question), method: :delete, class: 'btn btn-sm btn-danger'
