%table.table
  %thead
    %tr.row
      %th Name
      %th Party
      %th Questionnaire Status
      %th Action
  %tbody
    - candidacies.each do |candidacy|
      %tr.row
        %td= link_to candidacy.name, candidacy_path(candidacy, @context_params)
        %td= Candidacy::PARTY_AFFILATION_TYPES.invert[candidacy.party_affiliation]
        %td= candidacy.questionnaire_status_str
        %td
          - if !candidacy.race.is_official || current_user.can_manage_external_candidacies?
            = link_to 'Edit', edit_candidacy_path(candidacy), class: 'btn btn-sm btn-primary'
            - if candidacy.questionnaire_submitted?
              = link_to 'Unlock', unlock_candidacy_path(candidacy), method: :put, class: 'btn btn-sm btn-warning'
            = link_to 'Delete', candidacy_path(candidacy), method: :delete, class: 'btn btn-sm btn-danger', data: {confirm: 'Are you sure?'}
