= f.hidden_field :race_id
= f.hidden_field :user_id
= f.fields_for :answers do |ff|
  = ff.hidden_field :id
  = ff.hidden_field :question_id
  = ff.input :text, label: ff.object.question.text, input_html: {rows: 2}
