= f.hidden_field :race_id
- if race.election.internal?
  = f.hidden_field :user_id
  = render partial: 'answers/form', locals: { f: f, edit_tools: false, read_only: false }
- else
  = f.input :name
  = f.input :party_affiliation, as: :select, collection: Candidacy::PARTY_AFFILATION_TYPES, include_blank: false
  = f.input :email, label: "Official Email"
  = f.input :notes, html_input: { rows: 2, cols: 80 }

