%h2 Candidacies

%table.table
  %thead
    %tr.row
      %th Election
      %th Race
      %th Actions
  %tbody
    - @candidacies.each do |candidacy|
      %tr.row
        %td= candidacy.race.election.name
        %td= candidacy.race.complete_name
        %td
          = link_to 'Edit', edit_candidacy_path(candidacy), class: 'btn btn-sm btn-success'
          = link_to 'Delete', candidacy_path(candidacy), method: :delete, class: 'btn btn-sm btn-danger'

- @races.each do |race|
  - if !current_user.in_race?(race)
    = link_to("Run for #{race.complete_name}", new_candidacy_path(race_id: race.id))