%h2 For #{@election.name}
%h3 Candidacies with a completed questionnnaire

%table.table
  %thead
    %tr.row
      %th Name
      %th Race
      %th Actions
  %tbody
    - @candidacies.each do |candidacy|
      %tr.row
        %td= link_to(candidacy.name, candidacy)
        %td= candidacy.race.complete_name
        %td
          = link_to 'Edit', edit_candidacy_path(candidacy), class: 'btn btn-sm btn-success'
          = link_to 'Delete', candidacy_path(candidacy), method: :delete, class: 'btn btn-sm btn-danger', data: {confirm: 'Are you sure?'}

