= semantic_form_for [chapter, message] do |f|
  = f.input :chapter, as: :select, collection: @chapters, include_blank: false
  = f.input :member_group_id, label: 'Subset', as: :select, collection: member_groups, include_blank: false
  = f.input :subject
  = f.input :body, as: :text, input_html: { rows: 5, cols: 100 }
  = f.submit "Save Draft", class: 'btn btn-sm btn-info btn-with-padding'
  = f.submit "Send", class: 'btn btn-sm btn-primary btn-with-padding'
