%h2 #{@message.subject}

%h3 To
%ul
  - @message.message_recipients.each do |message_recipient|
    - if message_recipient.candidacy
      %li #{message_recipient.candidacy.name} - #{message_recipient.candidacy.email}
    - else
      %li #{message_recipient.member.name} <#{message_recipient.member.email}>

%h3 Body
%p #{@message.rendered_body(@message.message_recipients.first)}

- unless @message.sent?
  = link_to("Edit Draft", edit_message_path(@message, @context_params), class: 'btn btn-sm btn-primary')
