%h2 #{@message.subject}

%h3 To
%ul
  - @message.message_recipients.each_with_index do |message_recipient, index|
    - if message_recipient.candidacy
      %li= "#{message_recipient.candidacy.name} - #{message_recipient.candidacy.email}"
    - else
      - if message_recipient.member
        %li= "#{message_recipient.member.name} <#{message_recipient.member.email}>"
      - else
        %li= "<#{message_recipient.email}>"
    - overflow = 10
    - if index >= overflow
      %li and #{@message.message_recipients.size - overflow - 1} more recipients
      - break

%h3 Body
%p #{@message.rendered_body(@message_recipient, message_control_path(@message_recipient.token))}

- unless @message.sent?
  %hr
  = link_to("Send", send_to_all_message_path(@message, @context_params), method: :put, class: 'btn btn-sm btn-primary')
  = form_tag(preview_to_message_path(@message, @context_params), method: :put, style: 'display: inline;') do
    = submit_tag("Preview to", class: 'btn btn-sm btn-warning btn-with-padding')
    = text_field_tag(:emails, "", placeholder: 'emails to preview to seperated by commas', style: 'width: 40%;')
  |
  = link_to("Edit Draft", edit_message_path(@message, @context_params), class: 'btn btn-sm btn-info')
