%table.table
  %thead
    %tr
      %th Office
      %th Occupant
      %th Roles
      %th Combined Role
      - if show_actions
        %th Actions
  %tbody
    - officers.each do |officer|
      %tr
        %td
          - if can?(current_user, :show, officer)
            = link_to(officer.officer_type, officer)
          - else
            = officer.officer_type
        %td
          - if officer.user
            - if can?(current_user, :show, officer.user.member)
              = link_to(officer.user.name, officer.user.member)
            - else
              = officer.user.name
        %td
          - if officer.user&.roles
            - officer.user.roles.each do |role|
              #{link_to(role.name, role)}
        %td
          - if officer.user&.role
            #{link_to(officer.user.role.name, officer.user.role)}
        - if show_actions
          %td
            - if can?(current_user, :edit, officer)
              = link_to "Edit", edit_officer_path(officer), class: 'btn btn-sm btn-success'
            - if can?(current_user, :destroy, officer)
              = link_to "Delete", officer_path(officer), method: :delete, class: 'btn btn-sm btn-danger', data: { confirm: 'Are you sure?' }
