%h2 Sign up
= semantic_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = f.input :email, as: :email
  - if @minimum_password_length
    = f.input :password, as: :password, hint: "(#{@minimum_password_length} characters minimum)"
  - else
    = f.input :password, as: :password
  = f.input :password_confirmation, as: :password
  = f.submit "Sign up", class: "btn btn-sm btn-primary btn-with-padding"
= render "devise/shared/links"
