%h2 Unsubscribe
%p This page allows you modify your settings for #{@message_control.unsubscribe_type.pluralize}, one of which is to unsubscribe.
= semantic_form_for @message_control do |f|
  = f.input :unsubscribe_type, as: :hidden
  = f.input :member_id, as: :hidden
  = f.input :control_type, label: "For " + f.object.unsubscribe_type.pluralize.capitalize, as: :select, collection: MessageControl::CONTROL_TYPES, include_blank: false
  = f.submit label: 'Submit', class: 'btn btn-sm btn-primary'
  = hidden_field_tag(:message_recipient_id, @message_recipient.id)