- if race.candidates_announced?
  %h5 #{race.name} candidates
  %hr
  %table.table
    %thead
      %tr.row
        %th Name
        %th Candidate Info
    %tbody
      - race.candidacies.each do |candidacy|
        %tr.row
          %td= candidacy.user.name
          %td
- else
  - if race.election.internal?
    %h5 #{link_to(race.name, race)}
  - else
    %h5
      #{link_to(race.type_and_locale, race)}
      (#{race.candidacies.count} #{'candidate'.pluralize(race.candidacies.count)})
      %span.updated Updated #{time_ago_in_words(race.updated_at)} ago
  - if race.filing_deadline_date
    %p
      Filing date:
      %strong #{race.filing_deadline_date.to_date}
  - if race.candidates_announcement_date
    %p
      Candidates announced on:
      %strong #{race.candidates_announcement_date}
    - if race.candidacies.count > 0
      %p
        #{race.candidacies.count} #{"candidate".pluralize(race.candidacies.count)} signed up
    %p
      Election on:
      %strong #{race.election.vote_date}
  - if race.election.internal?
    - candidacy = current_user.candidacies.where(race: race).first
    - if candidacy
      = link_to("Edit candidate form", edit_candidacy_path(candidacy), class: 'btn btn-sm btn-primary')
      = link_to 'Delete candidacy', candidacy_path(candidacy), method: :delete, class: 'btn btn-sm btn-danger'
    - else
      = link_to("Run for this race", new_candidacy_path(race_id: race.id), class: 'btn btn-sm btn-primary')

