- if race.election.internal?
  %h5 Race for #{link_to(race.complete_name, race)}
  - if Time.zone.now < race.election.vote_end_time
    = render partial: 'races/show_candidacies_note', locals: { race: race }

  - if Time.zone.now < race.election.vote_start_time
    = render partial: 'races/show_dates', locals: { race: race }
    = render partial: 'races/show_candidacies', locals: { race: race }

  - elsif Time.zone.now < race.election.vote_end_time
    = render partial: 'races/show_candidacies', locals: { race: race }
    = render partial: 'races/candidacy_action',  locals: { race: race }
- else
  %h5
    #{link_to(race.type_and_locale, race_path(race, chapter ? {chapter_id: chapter.id} : {}))}
    (#{race.candidacies.count} #{'candidate'.pluralize(race.candidacies.count)})
    %span.updated Updated #{time_ago_in_words(race.updated_at)} ago
  - if show_all && race.notes
    %p.strong Notes:
    %p= race.notes
