%table.table
  - if election.internal?
    %thead
      %tr.row
        %th Name
        %th Action
    %tbody
      - races.sort_by{|r| r.complete_name}.each do |race|
        %tr.row
          %td= link_to race.complete_name, race_path(race, @context_params)
          %td
            - if policy(race).edit?
              = link_to 'Edit', edit_race_path(race, @context_params), class: 'btn btn-sm btn-success'
            - if policy(race).destroy?
              = link_to 'Delete', race_path(race, @context_params), method: :delete, class: 'btn btn-sm btn-danger', data: {confirm: 'Are you sure?'}
  - else
    %thead
      %tr.row
        %th Locale
        %th Level of government
        %th Action
    %tbody
      - races.sort_by{|r| r.complete_name}.each do |race|
        %tr.row
          %td= link_to race.type_and_locale, race_path(race, @context_params)
          %td= Race::LEVEL_OF_GOVERNMENT_TYPES.invert[race.level_of_government]
          %td
            - if policy(race).edit?
              = link_to 'Edit', edit_race_path(race, @context_params), class: 'btn btn-sm btn-success'
            - if policy(race).destroy?
              = link_to 'Delete', race_path(race, @context_params), method: :delete, class: 'btn btn-sm btn-danger', data: {confirm: 'Are you sure?'}
