= render partial: 'show', locals: { race: @race, show_all: true }

- if policy(@race).show_candidacies?
  - if @race.candidacies.present?
    %h3 Candidacies

    = render partial: 'candidacies/table', locals: { race: @race, candidacies: @race.candidacies }
  - else
    %h3 No Candidacies

- if @race.election.external?
  .actions
    = link_to("Add Candidacy", new_candidacy_path({race_id: @race.id}.merge(@chapter_params)), class: 'btn btn-sm btn-primary')
    = link_to("Edit", edit_race_path(@race, @chapter_params), class: 'btn btn-sm btn-primary')
- else
  .actions
    = link_to("Edit", edit_race_path(@race, @chapter_params), class: 'btn btn-sm btn-primary')
    - if @race.questionnaire
      = link_to("Edit questionnaire", questionnaire_path(@race.questionnaire), class: 'btn btn-sm btn-info')
    - else
      = link_to("Create questionnaire", create_questionnaire_race_path(@race), method: :put, class: 'btn btn-sm btn-success')
