= render partial: 'races/show', locals: { race: @race, show_all: true, chapter: @chapter, show_race_link: false }

- if policy(@race).show_candidacies?
  - if @race.candidacies.present?
    %h3 Candidacies

    = render partial: 'candidacies/table', locals: { race: @race, candidacies: @race.candidacies }
  - else
    %h3 No Candidacies
  -if current_user.can_manage_external_candidacies?
    %h3 Messages
    - if @race.messages
      = render partial: 'messages/table', locals: { messages: @race.messages, show_actions: true }

.actions
  - if @race.election.external?
    - if !@race.is_official || current_user.can_manage_external_candidacies?
      = link_to("Add Candidacy", new_candidacy_path({race_id: @race.id}.merge(@context_params)), class: 'btn btn-sm btn-success')
  - if can?(current_user, :edit, @race)
    = link_to("Edit", edit_race_path(@race, @context_params), class: 'btn btn-sm btn-primary')
  - if can?(current_user, :destroy, @race)
    = link_to("Delete", race_path(@race, @context_params), method: :delete, data: {confirm: 'Are you sure you want to delete this race?'}, class: 'btn btn-sm btn-danger')

  - if (@race.election.external? && current_user.can_manage_external_candidacies?) || (@race.election.internal? && current_user.can_manage_internal_elections?)
    |
    - if @race.election.internal?
      Candidacy:
    - if @race.questionnaire
      = link_to("Edit questionnaire", questionnaire_path(@race.questionnaire, @context_params), class: 'btn btn-sm btn-info')
      = link_to("Email questionnaire", email_questionnaire_race_path(@race, @context_params), method: :put, class: 'btn btn-sm btn-warning')
      = link_to("Delete questionnaire", delete_questionnaire_race_path(@race, @context_params), method: :delete, data: {confirm: 'Are you sure you want to delete the questionnnaire?'}, class: 'btn btn-sm btn-danger')
    - else
      = link_to("Create questionnaire", create_questionnaire_race_path(@race, @context_params), method: :put, class: 'btn btn-sm btn-success')
      = semantic_form_for @race, url: copy_questionnaire_race_path(@race, @context_params), html: {style: "display: inline;"}  do |f|
        = select :race, :questionnaire, options_for_select(Questionnaire.with_race.map{|q| [q.name, q.id]})
        = f.submit "Copy questionnaire", class: 'btn btn-sm btn-warning btn-with-padding'
    - if @race.election.internal?
      | Election:
      - if @race.election_questionnaire
        = link_to("Edit questionnaire", questionnaire_path(@race.election_questionnaire, @context_params), class: 'btn btn-sm btn-info')
        = link_to("Delete questionnaire", delete_election_questionnaire_race_path(@race, @context_params), method: :delete, data: {confirm: 'Are you sure you want to delete the questionnnaire?'}, class: 'btn btn-sm btn-danger')
      - else
        = link_to("Create questionnaire", new_election_questionnaire_race_path(@race, @context_params), class: 'btn btn-sm btn-success')
