= render partial: 'races/show', locals: { race: @race, show_all: true, chapter: @chapter }

- if policy(@race).show_candidacies?
  - if @race.candidacies.present?
    %h3 Candidacies

    = render partial: 'candidacies/table', locals: { race: @race, candidacies: @race.candidacies }
  - else
    %h3 No Candidacies

.actions
  - if @race.election.external?
    = link_to("Add Candidacy", new_candidacy_path({race_id: @race.id}.merge(@chapter_params)), class: 'btn btn-sm btn-success')
  = link_to("Edit", edit_race_path(@race, @chapter_params), class: 'btn btn-sm btn-primary')
  = link_to("Delete", race_path(@race, @chapter_params), method: :delete, data: {confirm: 'Are you sure you want to delete this race?'}, class: 'btn btn-sm btn-danger')
  |
  - if @race.questionnaire
    = link_to("Edit questionnaire", questionnaire_path(@race.questionnaire, @chapter_params), class: 'btn btn-sm btn-info')
    = link_to("Email questionnaire", email_questionnaire_race_path(@race, @chapter_params), method: :put, class: 'btn btn-sm btn-warning')
    = link_to("Delete questionnaire", delete_questionnaire_race_path(@race, @chapter_params), method: :delete, data: {confirm: 'Are you sure you want to delete the questionnnaire?'}, class: 'btn btn-sm btn-danger')
  - else
    = link_to("Create questionnaire", create_questionnaire_race_path(@race, @chapter_params), method: :put, class: 'btn btn-sm btn-success')
