= semantic_form_for user do |f|
  = render partial: 'users/user_details', locals: { f: f, disabled: false }
  %hr
  %p= bylaws

  .check_box_or_radio
    = f.input :accepted_bylaws, as: :boolean, label: 'Accept bylaws'
  = f.submit class: 'btn btn-sm btn-primary'
