= render partial: 'step_title', locals: { step_title: 'The Founding Convention', step_sub_title: "Help found a change in Minnesota's future" }

= semantic_form_for @user do |f|
  = render partial: 'events/show', locals: { event: @initial_convention, show_description: true, show_rsvp: false, show_stats: false }
  %h3 Your RSVP
  = f.semantic_fields_for :event_rsvps do |ff|
    = render partial: 'event_rsvps/form', locals: {f: ff}

  %h3 Your Potential State Board Candidacy
  %p.in-formtastic
    Your voice is needed on the Statewide Board!
  %p.in-formtastic
    Our organization needs vision, talent, skillsets, and passion.
  %p.in-formtastic
    This is OUR REVOLUTION and diverse voices are necessary for success.
  %p.in-formtastic
    This is about building a team and that means introverts, extroverts, legal nerds, tech nerds,
    social butterflies, event planners, parents, rural/urban, absolutely anyone with interest should run.
    Prior board experience is not necessary, but is helpful.

  %p.in-formtastic ORMN Board members should expect to:
  %ul.in-formtastic
    %li.in-formtastic attend the statewide meeting annually
    %li.in-formtastic attend the scheduled board meetings (these are available remotely as well as in person)
    %li.in-formtastic provide vision to the organization
    %li.in-formtastic provide talent and guidance to committees and membership
    %li.in-formtastic recruit and support new chapters
    %li.in-formtastic abide by and amend the bylaws as necessary
    %li.in-formtastic select a Chair/Vice Chair/Secretary/Treasurer from board ranks
    %li.in-formtastic support the Our Revolution platform
    %li.in-formtastic have sincere dedication to statewide organizing that focuses on getting progressives elected

  %p.in-formtastic The board membership, when available, should be equally split between urban and rural areas as defined through congressional districts.

  .check_box_or_radio
    = f.input :run_for_state_board, as: :boolean, label: 'I want to run for the state board of directors'

  #questionnaire{'class' => (f.object.run_for_state_board ? '' : 'hidden')}
    %h4 Candidate Questionnaire
    = f.semantic_fields_for :candidacies do |ff|
      = render partial: 'candidacies/form', locals: {f: ff, race: @race, candidacy: @candidacy}

  = f.submit 'Cancel', class: 'btn btn-sm btm-info btn-with-padding'
  = f.submit 'Previous Step', class: 'btn btn-sm btm-info btn-with-padding'
  = f.submit 'Done', class: 'btn btn-sm btn-primary btn-with-padding'

:javascript
  $(function(){
    console.log("loaded")

    $("#user_run_for_state_board").click(function() {
      console.log("clicked: "+ $("#user_run_for_state_board").is(':checked'));
      if ($("#user_run_for_state_board").is(':checked')) {
        $("#questionnaire").removeClass('hidden')
      }
      else {
        $("#questionnaire").addClass('hidden');
      }
    })
  })
