= render partial: 'step_title', locals: { step_title: 'The Founding Convention', step_sub_title: "Help found a change in Minnesota's future" }

= semantic_form_for @user do |f|
  = render partial: 'events/show', locals: { event: @initial_convention, show_description: true, show_rsvp: false }
  %h3 Your RSVP
  = f.semantic_fields_for :event_rsvps do |ff|
    = render partial: 'event_rsvps/form', locals: {f: ff}

  %h3 Your Potential Candidacy
  .check_box_or_radio
    = f.input :run_for_state_board, as: :boolean, label: 'I want to run for the state board of directors'

  #questionnaire{'class' => (f.object.run_for_state_board ? '' : 'hidden')}
    %h4 Candidate Questionnaire
    = f.semantic_fields_for :candidacies do |ff|
      = render partial: 'candidacies/form', locals: {f: ff, race: @race, candidacy: @candidacy}

  = f.submit 'Cancel', class: 'btn btn-sm btm-info btn-with-padding'
  = f.submit 'Previous Step', class: 'btn btn-sm btm-info btn-with-padding'
  = f.submit 'Done', class: 'btn btn-sm btn-primary btn-with-padding'

:javascript
  $(function(){
    console.log("loaded")

    $("#user_run_for_state_board").click(function() {
      console.log("clicked: "+ $("#user_run_for_state_board").is(':checked'));
      if ($("#user_run_for_state_board").is(':checked')) {
        $("#questionnaire").removeClass('hidden')
      }
      else {
        $("#questionnaire").addClass('hidden');
      }
    })
  })
