%h2 Step 3 of 3 - Declare Candidacy
%h3 Decide if you want to run for the state board of directors

= semantic_form_for @user do |f|
  .accepted_bylaws
    = f.input :run_for_state_board, as: :boolean, label: 'I want to run for the state board of directors'

  #questionnaire.hidden
    %h4 Candidate Questionnaire
    = f.semantic_fields_for :candidacies do |ff|
      - @race.questionnaire.questions.each do |question|
        /%p= question.text
        = ff.semantic_fields_for question.new_answer(@user) do |fff|
          = fff.input :text, label: question.text, input_html: {rows: 2}

  = f.submit 'Cancel', class: 'btn btn-sm btm-info'
  = f.submit 'Previous Step', class: 'btn btn-sm btm-info'
  = f.submit 'Done', class: 'btn btn-sm btn-primary'

:javascript
  $(function(){
    console.log("loaded")

    $("#user_run_for_state_board").click(function() {
      console.log("clicked: "+ $("#user_run_for_state_board").is(':checked'));
      if ($("#user_run_for_state_board").is(':checked')) {
        $("#questionnaire").removeClass('hidden')
      }
      else {
        $("#questionnaire").addClass('hidden');
      }
    })
  })
