= render partial: 'step_title', locals: { step_title: 'Setup Your Member Details', step_sub_title: 'Setup your personal details' }

= render partial: 'shared/privacy_policy_notice'

= semantic_form_for @user do |f|
  = render partial: 'users/user_details', locals: { f: f, disabled: false }

  .row
    .col-md-12
      = render partial: 'shared/bylaws_link'
  .row
    .col-md-12
      .check_box_or_radio
        = f.input :accepted_bylaws, as: :boolean, label: 'Accept bylaws and code of conduct'
  .row
    .col-md-12
      = f.submit 'Next Step', class: 'btn btn-sm btn-primary btn-with-padding', disabled: !@user.accepted_bylaws, id: 'submit_button'

:javascript
  $(function() {
    $("#user_accepted_bylaws").change(function() {
      if ($("#user_accepted_bylaws").is(":checked")) {
        $("#submit_button").prop("disabled", false)
      }
      else {
        $("#submit_button").prop("disabled", true)
      }
    })
  })
