= render partial: 'step_title', locals: { step_title: 'Setup Your Member Details', step_sub_title: 'Setup your personal details' }

= semantic_form_for @user do |f|
  = f.semantic_fields_for :member do |ff|
    = render partial: 'members/user_details', locals: { f: ff }
    = f.submit 'Cancel', class: 'btn btn-sm btm-info btn-with-padding', hint: 'You must go through all the setup steps to vote OurRevolutionMN elections'
    = f.submit 'Next Step', class: 'btn btn-sm btn-primary btn-with-padding'
