= render partial: 'step_title', locals: { step_title: 'Accept Bylaws', step_sub_title: "Accepting these allows you to vote in OurRevolutionMN's elections"}

.bylaws
  = render partial: 'shared/bylaws'

= semantic_form_for @user do |f|
  = render partial: 'accept_bylaws_form', locals: {f: f}
  = f.submit 'Cancel', class: 'btn btn-sm btm-info btn-with-padding', hint: 'You must go through all the setup steps to vote OurRevolutionMN elections'
  = f.submit 'Previous Step', class: 'btn btn-sm btm-info btn-with-padding', hint: 'You must go through all the setup steps to vote OurRevolutionMN elections'
  = f.submit 'Next Step', class: 'btn btn-sm btn-primary btn-with-padding'

