.row
  .col-md-4
    = f.input :first_name
  .col-md-4
    = f.input :last_name
  .col-md-4
    = f.input :phone_number
.row
  .col-md-12
    = f.input :address_1
.row
  .col-md-12
    = f.input :address_2
.row
  .col-md-4
    = f.input :city
  .col-md-4
    = f.input :state
  .col-md-4
    = f.input :postal_code, label: 'Zip Code'
