- if @user.setup_state.blank?
  .row
    .col-md-6
      = render partial: 'elections/table', locals: {elections: @elections, short_list_of_races: true, chapter: nil, on_dashboard: true}
      %hr
      = link_to "View Past Elections", elections_path
    .col-md-6
      %h3= link_to("Chapters", chapters_path)
      = render partial: 'chapters/stats_table', locals: {chapters: @user.selected_account.chapters.in_order, show_actions: false, on_dashboard: true}
      %h3 Upcoming Events
      - if @events.blank?
        There are no upcoming events scheduled at this time
      - else
        = render partial: 'events/table', locals: {events: @events, user: current_user, show_stats: true, on_dashboard: true}
  .row
    .col-md-6
      %h3 Contact Banks
      = render partial: 'contact_banks/table', locals: { contact_banks: @contact_banks }
      -#%h3 Donations
      -#%p Remember we are driven by your passion and your $'s
      -#= link_to 'Donate', "https://secure.actblue.com/contribute/page/our-revolution-mn-1?utf8=%E2%9C%93&amount=25&commit=Contribute", target: :_blank, class: 'btn btn-sm btn-success'
- else
  = render partial: "#{@user.setup_state}"

- if false #!@user.saw_introduction
  .modal.fade#my-modal
    .modal-dialog
      .modal-content
        .modal-header
          .modal-title Welcome to Our Revolution MN
        .modal-body
          %h3 You are now eligible to vote in Our Revolution MN elections!
          %p
            Also this membership site will be a meeting place for you and others to organize
            all over the state of Minnesota for progressive values.
          %p
            As a start, you can start entering local races for the fall and who is running to
            contest those seats. Click on the Minnesota 2017 Elections link to get started
            (after dismissing this window).
          = semantic_form_for @user do |f|
            = f.hidden_field :saw_introduction, value: 'true'
            = f.submit "Ok", class: 'btn btn-sm btn-primary btn-with-padding btn-wide'

:javascript
  $(function() {
    // #{(@user.setup_state.blank? && !@user.saw_introduction) ? '$("#my-modal").modal().show()'.html_safe : ''}
  })
