%h2 Profile

= render partial: 'shared/privacy_policy_notice'

= semantic_form_for @user do |f|
  = render partial: 'users/user_details', locals: { f: f, disabled: false, show_email: true, show_share_controls: true }

  %hr
  %h3 Volunteering
  %p.subtitle
    We are a volunteer run orginization, your time and effort allows this organization to function.
  = f.inputs do
    .check_box_or_radio
      = f.input :interested_in_volunteering

  = f.semantic_fields_for :member do |ff|
    = render partial: 'answers/form', locals: { f: ff, edit_tools: false, read_only: false }

  = f.submit class: 'btn btn-sm btn-primary btn-with-padding'
