%h2 Profile

= render partial: 'shared/privacy_policy_notice'

= semantic_form_for @user do |f|
  = f.semantic_fields_for :member do |ff|
    = render partial: 'members/user_details', locals: { f: ff, disabled: false }

  %hr
  %h2 Volunteering
  = f.inputs do
    .check_box_or_radio
      = f.input :interested_in_volunteering

  = f.semantic_fields_for :member do |ff|
    = render partial: 'answers/form', locals: { f: ff, edit_tools: false, read_only: false }

  = f.submit class: 'btn btn-sm btn-primary btn-with-padding'
