%h2 Profile

= semantic_form_for @user do |f|
  = f.semantic_fields_for :member do |ff|
    = render partial: 'members/user_details', locals: { f: ff }

  %hr
  %h2 Volunteering
  = f.inputs do
    .accepted_bylaws
      = f.input :interested_in_volunteering

  = render partial: 'answers/form', locals: { f: f }

  = f.submit class: 'btn btn-sm btn-primary btn-with-padding'
