%h2 Profile

= semantic_form_for @user do |f|
  = render partial: 'users/user_details', locals: { f: f, disabled: false, show_email: true, show_share_controls: true, show_contact_controls: true }
  - if @user.officers.present?
    %hr
    %h3 Offices you occupy
    = render partial: 'members/officers', locals: { user: @user }
  - if @user.all_roles.present?
    %hr
    %h3 Roles you have
    = render partial: 'members/roles', locals: { user: @user }
  %hr
  %h3 Volunteering
  %p.subtitle
    We are a volunteer run orginization, your time and effort allows this organization to function.
  = f.inputs do
    .check_box_or_radio
      = f.input :interested_in_volunteering

  = f.semantic_fields_for :member do |ff|
    = render partial: 'answers/form', locals: { f: ff, edit_tools: false, read_only: false }

  = f.submit class: 'btn btn-sm btn-primary btn-with-padding'
