%h2 Contact Bank: #{@contact_bank.name}
%h4 Setup by: #{@contact_bank.owner.name}

.row
  .col-md-6
    %h3 Contactors
    - if current_user == @contact_bank.owner
      %ul
        - @contact_bank.contactors.each do |contactor|
          %li= contactor.user.name
    - else
      #{@contact_bank.contactors.size} contactors

  .col-md-6
    %h3 Contactees
    - if current_user == @contact_bank.owner
      %ul
        - @contact_bank.contactees.each do |contactee|
          %li= link_to(contactee.member.name, contactee)
    - else
      %ul
        - @contact_bank.contactees.contacted_by(current_user).each do |contactee|
          %li= link_to(contactee.member.name, contactee)
    %hr
    %p Total: #{@contact_bank.contactees.size} contactees
    %p Contacted: #{@contact_bank.contactees_contacted.size} contacted

- if current_user == @contact_bank.owner
  = link_to "Edit", edit_contact_bank_path(@contact_bank), class: 'btn btn-sm btn-primary'
= link_to "Next Contactee", next_contactee_contact_bank_path(@contact_bank), method: :put, class: 'btn btn-sm btn-success'