.row
  .col-md-4
    %span.event-title What
    %br
    %span.event-data= event.name
  .col-md-4
    %span.event-title Where
    %br
    %span.event-data= event.location
  .col-md-4
    %span.event-title When
    %br
    %span.event-data= event_date_and_time_str(event.occurs_at)
- if show_description
  .row
    .col-md-12
      .event-title Description
  .row
    .col-md-12
      = event.description
- if show_stats
  .row
    .col-md-12
      .strong RSVP Stats:
      In Person #{event.event_rsvps.in_person.count}, Online #{event.event_rsvps.online.count}
%hr
- if show_rsvp && event_rsvp
  .row
    .col-md-12
      .event-title Your RSVP
  .row
    .col-md-12
      = EventRsvp::RSVP_TYPES_DECLARATIVE[event_rsvp.rsvp_type]
      = link_to "Edit", edit_event_rsvp_path(event_rsvp), class: 'btn btn-sm btn-primary'

