.row
  .col-md-4
    %span.event-title What
    %br
    %span.event-data
      = link_to(event.name, event)
      - if event.published? && can?(current_user, :edit, event)
        = "- (Published)"
  .col-md-4
    %span.event-title Where
    %br
    %span.event-data= event.location
  .col-md-4
    %span.event-title When
    %br
    %span.event-data
      - if event.occurs_at
        = event_date_and_time_str(event.occurs_at)
      - else
        No Date Specified
- if show_description
  .row
    .col-md-8
      .event-title Description
    .col-md-4
      .event-title Type
  .row
    .col-md-8
      = Kramdown::Document.new(event.description).to_html.html_safe
    .col-md-4
      = event.event_type_str
  - if @event.agenda.present?
    .row
      .col-md-12
        .event-title Agenda
    .row
      .col-md-12
        = Kramdown::Document.new(event.agenda).to_html.html_safe
- if show_stats
  .row
    .col-md-12
      .strong RSVP Stats:
      - if event.online_only? || event.offline_only?
        #{event.event_rsvps.count} RSVPs
      - else
        In Person #{event.event_rsvps.in_person.count}, Online #{event.event_rsvps.online.count}

- if show_actions
  - if can?(current_user, :edit, event)
    = link_to "Edit", edit_event_path(event), class: 'btn btn-sm btn-primary'
    - if event.published?
      = link_to "Unpublish", unpublish_event_path(event), method: :put, class: 'btn btn-sm btn-info'
      = link_to "Email Event", email_event_path(event, chapter_id: event.chapter.id, event_id: event.id), method: :put, class: 'btn btn-sm btn-warning'
    - else
      = link_to "Publish", publish_event_path(event), method: :put, class: 'btn btn-sm btn-info'
  - if can?(current_user, :destroy, event)
    = link_to "Delete", event_path(event), method: :delete, class: 'btn btn-sm btn-danger', data: {confirm: 'Are you sure?'}

- if show_rsvp
  .row
    .col-md-12
      .event-title Your RSVP
  .row
    .col-md-12
      - if event_rsvp
        = EventRsvp::RSVP_TYPES_DECLARATIVE[event_rsvp.rsvp_type]
        = link_to "Edit", edit_event_rsvp_path(event_rsvp), class: 'btn btn-sm btn-primary'
      - else
        = link_to "Set Your RSVP", event_event_rsvps_path(event), method: :post, class: 'btn btn-sm btn-primary'
%hr



