= semantic_form_for @election do |f|
  = f.semantic_errors
  = f.input :name
  = f.input :chapter_id, as: :select, collection: @chapters, include_blank: false
  = f.input :member_group_id, as: :select, collection: member_groups, include_blank: false, label: 'Members voting'
  = f.input :election_type, as: :select, collection: [Election::ELECTION_TYPE_INTERNAL, Election::ELECTION_TYPE_EXTERNAL], include_blank: false
  = f.input :election_method, as: :select, collection: Election::ELECTION_METHODS, include_blank: false
  = f.input :vote_date_str, label: 'Vote Date'
  = f.input :vote_start_time_str, label: 'Vote Start Time'
  = f.input :vote_end_time_str, label: 'Vote End Time'
  = f.input :visibility, as: :select, collection: Visibility::VISIBILITIES_HASH
  = f.submit class: 'btn btn-sm btn-primary btn-with-padding'

:javascript
  $(function() {
    $("#election_vote_date_str").datepicker({orientation: 'bottom'})
  })
