%h2= @election.name

- if @election.races.empty? && @election.external?
  %h4 There are no races for this election, click Add Race to add one
- else
  = render partial: 'elections/vote_date_and_time', locals: { election: @election }
  - if @election.vote_date
    - if @election.vote_start_time
      - if Time.zone.now < @election.vote_start_time
      - elsif Time.zone.now < @election.vote_start_time
      - elsif Time.now >= @election.vote_end_time
        = render partial: 'elections/vote_results', locals: { election: @election }

  - @election.races.each do |race|
    = render partial: 'races/show', locals: { race: race, short_list_of_candidacies: false, show_all: false }
  - @election.issues.each do |issue|
    = render partial: 'issues/show', locals: { issue: issue }

  .vote-actions
    = render partial: 'elections/vote_actions', locals: { election: @election }

%hr
.actions
  = link_to("Edit", edit_election_path(@election), class: 'btn btn-sm btn-primary')
  = link_to("Add Race", new_election_race_path(@election), class: 'btn btn-sm btn-success')
  = link_to("Add Issue", new_election_issue_path(@election), class: 'btn btn-sm btn-success')
  = link_to("Delete", election_path(@election), method: :delete, class: 'btn btn-sm btn-danger')
