%h2 When To Meet

%table.when2meet
  %tr
    %td Date
    - 12.times do |hour|
      %td= when_to_meet_hour(hour)
  - 7.times do |day|
    %tr
      %td.date= when_to_meet_date(day)
      - 12.times do |hour|
        %td.hour{"data-check": "#{when_to_meet_date(day)}-#{when_to_meet_hour(hour)}", id: "#{when_to_meet_date(day)}-#{when_to_meet_hour(hour)}"}
%form.when2meet
  - 7.times do |day|
    - 12.times do |hour|
      %span.check_box
        %label= "#{when_to_meet_date(day)}-#{when_to_meet_hour(hour)}"
        %input{type: 'checkbox', id: "check-#{when_to_meet_date(day)}-#{when_to_meet_hour(hour)}"}
  %input{type: 'submit'}
:javascript
  $(function() {
    console.log("on start")
    $(".hour").click(function(e) {
      console.log("clicked")
      console.log(e.target.dataset.check)
      var el = document.getElementById(e.target.dataset.check)
      var check_el = document.getElementById("check-" + e.target.dataset.check)
      if (el.classList.contains('checked')) {
        check_el.checked = false;
        el.classList.remove('checked');
      }
      else {
        check_el.checked = true;
        el.classList.add('checked');
      }
    })
  })