- officer_assignments.each do |officer_assignment|
  - if can?(current_user, :show, officer_assignment)
    = link_to(officer_assignment.user.name, officer_assignment)
  - else
    = officer_assignment.user.name
  %br
  #{officer_term_and_reasons(officer_assignment)}
  %br

  - if show_actions
    - if can?(current_user, :update, officer_assignment)
      = link_to("Edit", edit_officer_assignment_path(officer_assignment), class: 'btn btn-sm btn-primary')
    - if can?(current_user, :destroy, officer_assignment)
      = link_to("Delete", officer_assignment_path(officer_assignment), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-sm btn-danger')
    %br
