%li= link_to(contactee.member.name, contactee)
- if contactee.contact_started_at && !contactee.contact_completed_at
  Started (#{contactee.contact_attempts.size}): #{date_and_time_str(contactee.contact_started_at)}
- elsif contactee.contact_completed_at
  Completed (#{contactee.contact_attempts.size}): #{date_and_time_str(contactee.contact_started_at)} - #{date_and_time_str(contactee.contact_completed_at)}
- if contactee.contact_started_at
  = " - #{contactee.contact_attempts.map(&:short_result).join(', ')}"
- if contactee.contact_completed_at && contactee.contacted_attempt.notes
  %div
    %strong Note
    = contactee.contacted_attempt.notes
