%h2 Contactee

= render partial: 'members/user_details_show', locals: { member: @contactee.member }
= link_to "Edit", edit_contactee_path(@contactee), class: "btn btn-sm btn-primary"
= link_to "Next Contactee", next_contactee_contact_bank_path(@contactee.contact_bank), method: :put, class: 'btn btn-sm btn-success'

%hr

- if @contactee.contact_attempts.present?
  %h3 Previous Attempts
  %table.table
    %tr
      %th Date
      %th Time
      %th Contact Type
      %th Direction
      %th Result
      %th Notes
      %th
    - @contactee.contact_attempts.each do |contact_attempt|
      %tr
        %td= contact_attempt.attempted_at.strftime("%m/%d/%Y")
        %td= contact_attempt.attempted_at.strftime("%H:%M:%S")
        %td= contact_attempt.contact_type_str
        %td= contact_attempt.direction_type_str
        %td= contact_attempt.result_type_str
        %td= Kramdown::Document.new(contact_attempt.notes).to_html.html_safe
        %td
          = link_to("Edit", edit_contact_attempt_path(contact_attempt), class: 'btn btn-sm btn-primary')
          = link_to("Delete", contact_attempt_path(contact_attempt), method: :delete, data: {confirm: 'Are you sure'}, class: 'btn btn-sm btn-danger')
  %hr
%h3 Tell us how it went
= render partial: 'contact_attempts/form'
%hr
%h3 Script
%p= Kramdown::Document.new(@contactee.contact_bank.script).to_html.html_safe
- if @contactee.contact_bank.sms_script
  %hr
  %h4
    - if @contactee.contact_bank.email_script
      Text Message Script
    - else
      Email or Text Message Script
  = @contactee.contact_bank.sms_script
- if @contactee.contact_bank.email_script
  %hr
  %h4 Email Message Script
  = @contactee.contact_bank.email_script
