%h2 Contactee

= semantic_form_for @contactee.member do |f|
  = render partial: 'members/user_details', locals: { f: f, disabled: true }

- if @contactee.contact_attempts.present?
  %h3 Previous Attempts
  %table
    %tr
      %th Date
      %th Time
      %th Contact Type
      %th Direction
      %th Result
    - @contactee.contact_attempts.each do |contact_attempt|
      %tr
        %td= contact_attempt.created_at.strftime("%m/%d/%Y")
        %td= contact_attempt.created_at.strftime("%m/%d/%Y")
        %td= contact_attempt.contact_type_str
        %td= contact_attempt.direction_type_str
        %td= contact_attempt.result_type_str
  %hr

= render partial: 'contact_attempts/form'
