= semantic_form_for @chapter do |f|
  = f.semantic_errors
  = f.input :name
  = f.input :chapter_type, as: :select, collection: Chapter::CHAPTER_TYPES_HASH
  = f.submit class: 'btn btn-sm btn-primary btn-with-padding'
