%h2 #{@chapter.name}

.row
  .col-md-6
    = render partial: 'elections/table', locals: {elections: Election.all, short_list_of_races: true}
  .col-md-6
    %h3 Upcoming Events
    - if @chapter.events.future.blank?
      There are no upcoming events scheduled at this time
    - else
      = render partial: 'events/table', locals: {events: @chapter.events.future, user: current_user, show_stats: true}
%hr
- if can?(current_user, :index, Member)
  = link_to("Members (#{Member.chapter_members(@chapter).count})", chapter_members_path(chapter_id: @chapter.id), class: 'btn btn-sm btn-primary')
  - unless @chapter.is_state_wide
    = link_to("Potential Members (#{Member.potential_chapter_members(@chapter).count})", chapter_members_path(chapter_id: @chapter.id, show_potential_members: true), class: 'btn btn-sm btn-info')
  = link_to("New Event", new_chapter_event_path(@chapter), class: 'btn btn-sm btn-success')
