= form_tag race_votes_path(@race) do
  - if enter_vote
    = label_tag "Voter Email: "
    = text_field_tag "voter_email", @voter_email
    - if @voter_email_error
      %p.error= @voter_email_error
  - else
    - if @voter_error
      %p.error= @voter_error
  - DistrictVoting.group_candidacies_by_district(@race.candidacies, @votes).each do |district_name, candidacies|
    - if @overflow_districts[district_name]
      %h3.error District #{district_name} (#{@overflow_districts[district_name]} votes for this district)
    - else
      %h3 District #{district_name}
    - candidacies.each do |candidacy, vote|
      %div
        = check_box_tag("votes[#{candidacy.id}]", "1", vote.present?)
        = candidacy.name

  %hr
  %div= submit_tag "Vote", class: 'btn btn-sm, btn-primary'
