%h2 Vote for #{@election.name}

%p You can vote until #{@election.vote_end_time.strftime('%I:%M%P')}. The voting will end in

.countdown

/%hr
/%p= @race.voting_rules
%hr

/= render partial: 'vote', locals: { enter_vote: false }
= semantic_form_for @issue do |f|
  = render partial: 'answers/form', locals: { f: f, edit_tools: false }

:javascript
  var secs_left = #{(@election.vote_end_time - Time.zone.now)}

  $(function() {
    secs_left = display_time(".countdown", secs_left)

    setInterval(function() {
      secs_left = display_time(".countdown", secs_left)

      if (secs_left <= 0) {
        reload_votes()
      }
    }, 1000)
  })
