%h2
  Vote tallies for #{@race.name}
  - if @race.vote_tallies.present?
    (from tallies)
  - else
    (from votes)

- DistrictVoting.group_candidacy_tallies_by_district(@tallies).each do |district_name, candidacies|
  %h3 District #{district_name}
  - candidacies.each do |candidacy, count|
    %div
      #{candidacy.name} (#{candidacy.user.email}) - #{count} votes

%hr
-if policy(@race).download_votes?
  = link_to "Download Votes", download_votes_race_votes_path(@race), class: 'btn btn-sm btn-primary'
-if policy(@race).generate_tallies?
  = link_to "Generate Tallies", generate_tallies_race_votes_path(@race), class: 'btn btn-sm btn-success'
-if policy(@race).delete_votes?
  = link_to "Delete Votes (#{@race.votes.count})", delete_votes_race_votes_path(@race), method: :put, class: 'btn btn-sm btn-danger', data: { confirm: 'Are you absolutely sure?' }
