= semantic_form_for [chapter, meeting_minute] do |f|
  = f.input :chapter_id, as: :hidden
  = f.input :title
  = f.input :body
  - if f.object.is_draft?
    = f.submit "Save Draft", class: 'btn btn-sm btn-info btn-with-padding'
  = f.submit "Save", class: 'btn btn-sm btn-primary btn-with-padding'
