!!!
%html{"lang" => "en", "xml:lang" => "en", "xmlns" => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{"charset" => "UTF-8"}
    %meta{name: "google", content: "notranslate"}
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    = csrf_meta_tags
    %meta{content: "width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no", name: "viewport"}/
    %meta{"http-equiv" =>"Content-Language", "content" => "en"}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    /= favicon_link_tag 'favicon.ico'
    = render partial: 'shared/analytics'
    %title= @title
  %body
    .navbar.navbar-default.navbar-static-top
      .container
        %button.navbar-toggle{'type' => "button", 'data-toggle' => 'collapse', 'data-target' => '.navbar-responsive-collapse'}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        .navbar-brand
          .logo= link_to(current_user ? current_user.selected_account.name : "Open-Org", "/")
        - if current_user && breadcrumbs_html_safe
          .navbar-text= breadcrumbs_html_safe
        .navbar-divider
        .navbar-collapse.collapse.navbar-responsive-collapse.pull-right
          = render partial: 'layouts/menu'
    .container
      - if flash[:alert]
        .alert.alert-danger= flash[:alert]
      - if flash[:notice]
        .alert.alert-info= flash[:notice]
      - if Rails.env.development?
        = link_to("-day", url_for(request.params.merge(time: (Time.zone.now - 1.day).strftime("%m_%d_%YT%H_%M"))))
        = link_to("-hour", url_for(request.params.merge(time: (Time.zone.now - 1.hour).strftime("%m_%d_%YT%H_%M"))))
        = link_to("-5min", url_for(request.params.merge(time: (Time.zone.now - 5.minutes).strftime("%m_%d_%YT%H_%M"))))
        Time now: #{Time.zone.now.strftime("%m/%d/%Y %H:%M:%S")}
        = link_to("+5min", url_for(request.params.merge(time: (Time.zone.now + 5.minutes).strftime("%m_%d_%YT%H_%M"))))
        = link_to("+hour", url_for(request.params.merge(time: (Time.zone.now + 1.hour).strftime("%m_%d_%YT%H_%M"))))
        = link_to("+day", url_for(request.params.merge(time: (Time.zone.now + 1.day).strftime("%m_%d_%YT%H_%M"))))
        = link_to("current", url_for(request.params.merge(time: "")))
      = yield
