!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    = csrf_meta_tags
    %meta{content: "width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no", name: "viewport"}/
    = stylesheet_link_tag    'application_ourrev', media: 'all', 'data-turbolinks-track': 'reload'
    %link#theme-google-font-heading-css{href: "https://fonts.googleapis.com/css?family=Muli:400,400italic,700,700italic&subset=latin,latin-ext", media: "all", rel: "stylesheet", type: "text/css"}/
    %link#theme-google-font-body-css{href: "https://fonts.googleapis.com/css?family=Muli:400,400italic,100,100italic,300,300italic,500,500italic,700,700italic&subset=latin,latin-ext", media: "all", rel: "stylesheet", type: "text/css"}/

    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render 'shared/header'
    .main-content
      - if flash[:alert]
        .container
          .alert.alert-danger= flash[:alert]
      - if flash[:notice]
        .container
          .alert.alert-info= flash[:notice]
      .container
        = yield
