= semantic_form_for member do |f|
  = f.semantic_errors
  = render partial: 'members/user_details', locals: { f: f, disabled: true, show_share_controls: true }
  - if f.object.user
    %hr
    = f.fields_for :user do |ff|
      = ff.input :id, as: :hidden
      - if can?(current_user, :assign_officer, f.object)
        = ff.input :officers, as: :select, multiple: false, collection: member.chapter.officers
      - if can?(current_user, :assign_role, f.object)
        = ff.input :roles, as: :select, multiple: false, collection: Role.uncombined

  = f.submit class: 'btn btn-sm btn-primary btn-with-padding'
:javascript
  $(function() {
    $("#member_user_attributes_role_ids").select2({theme: "bootstrap"})
    $("#member_user_attributes_officer_ids").select2({theme: "bootstrap"})
  })
