= f.hidden_field :email
-#.row
-#  .col-md-6
-#  = f.input :username, input_html: { disabled: disabled }
-#  - if is_current_user?(f.object, current_user) || f.object.user.share_email_with?(current_user)
-#   .col-md-6
-#     = f.input :email, input_html: { disabled: true }
- if is_current_user?(f.object, current_user) || f.object.user.share_name_with?(current_user)
  .row
    .col-md-5
      = f.input :first_name, input_html: { disabled: disabled }
    .col-md-2
      = f.input :middle_initial, input_html: { disabled: disabled }
    .col-md-5
      = f.input :last_name, input_html: { disabled: disabled }
- if is_current_user?(f.object, current_user) || f.object.user.share_phone_with?(current_user)
  .row
    .col-md-4
      = f.input :mobile_phone, input_html: { disabled: disabled }
    .col-md-4
      = f.input :home_phone, input_html: { disabled: disabled }
    .col-md-4
      = f.input :work_phone, input_html: { disabled: disabled }
- if is_current_user?(f.object, current_user) || f.object.user.share_address_with?(current_user)
  .row
    .col-md-12
      = f.input :address_1, input_html: { disabled: disabled }
  .row
    .col-md-12
      = f.input :address_2, input_html: { disabled: disabled }
  .row
    .col-md-4
      = f.input :city, input_html: { disabled: disabled }
    .col-md-4
      = f.input :state, input_html: { disabled: disabled }
    .col-md-4
      = f.input :zip, label: 'Zip Code', input_html: { disabled: disabled }

-#- if show_share_controls && is_current_user?(f.object, current_user)
-#  .row
-#    .col-md-12
-#      = f.input :share_email, as: :boolean, hint: "Check this box to allow chapter officers to see your email address"
-#      = f.input :share_address, as: :boolean, hint: "Check this box to allow chapter officers to see your address"
-#      = f.input :share_name, as: :boolean, hint: "Check this box to allow chapter officers to see your name"
-#      = f.input :share_phone, as: :boolean, hint: "Check this box to allow chapter officers to see your phone numbers"
.row
  .col-md-12
    = f.input :chapter, as: :select, collection: Chapter.all, include_blank: false, input_html: { disabled: disabled }
.row
  .col-md-12
    .check_box_or_radio
      = f.input :interested_in_starting_chapter, hint: 'Check this if you don\'t have chapter in your area and would like to start one', input_html: { disabled: disabled }
