- if f.object.user
  - if disabled
    = f.input :email, input_html: { disabled: disabled }
  - else
    = f.hidden_field :email
- if is_current_user?(f.object, current_user) || f.object.share_name_with?(current_user)
  .row
    .col-md-5
      = f.input :first_name, input_html: { disabled: disabled }
    .col-md-2
      = f.input :middle_initial, input_html: { disabled: disabled }
    .col-md-5
      = f.input :last_name, input_html: { disabled: disabled }
- if is_current_user?(f.object, current_user) || f.object.share_phone_with?(current_user)
  .row
    .col-md-4
      = f.input :mobile_phone, input_html: { disabled: disabled }
    .col-md-4
      = f.input :home_phone, input_html: { disabled: disabled }
    .col-md-4
      = f.input :work_phone, input_html: { disabled: disabled }
- if is_current_user?(f.object, current_user) || f.object.share_address_with?(current_user)
  .row
    .col-md-12
      = f.input :address_1, input_html: { disabled: disabled }
  .row
    .col-md-12
      = f.input :address_2, input_html: { disabled: disabled }
  .row
    .col-md-4
      = f.input :city, input_html: { disabled: disabled }
    .col-md-4
      = f.input :state, input_html: { disabled: disabled }
    .col-md-4
      = f.input :zip, label: 'Zip Code', input_html: { disabled: disabled }
