- if is_current_user?(member, current_user) || member.share_name_with?(current_user)
  .row
    .col-md-4
      %strong Name
      = member.name
    - if is_current_user?(member, current_user) || member.share_address_with?(current_user)
      .col-md-4
        %strong City
        = member.city
      .col-md-4
        %strong State
        = member.state
    - else
      .col-md-8
- if is_current_user?(member, current_user) || member.share_phone_with?(current_user)
  .row
    .col-md-4
      %strong Mobile Phone
      = link_to(member.mobile_phone, "tel:#{member.mobile_phone}")
    .col-md-4
      %strong Home Phone
      = link_to(member.home_phone, "tel:#{member.home_phone}")
    .col-md-4
      %strong Work Phone
      = link_to(member.work_phone, "tel:#{member.work_phone}")
.row
  .col-md-12
    %strong Email
    = link_to(member.email, "mailto:#{member.email}")
%hr
= render partial: 'members/tags_and_notes', locals: { member: member }