.row
  .col-md-5
    = f.input :first_name
  .col-md-2
    = f.input :middle_initial
  .col-md-5
    = f.input :last_name
.row
  .col-md-4
    = f.input :mobile_phone
  .col-md-4
    = f.input :home_phone
  .col-md-4
    = f.input :work_phone
.row
  .col-md-12
    = f.input :address_1
.row
  .col-md-12
    = f.input :address_2
.row
  .col-md-4
    = f.input :city
  .col-md-4
    = f.input :state
  .col-md-4
    = f.input :zip, label: 'Zip Code'
.row
  .col-md-12
    = f.input :chapter, as: :select, collection: Chapter.all, include_blank: false
.row
  .col-md-12
    .check_box_or_radio
      = f.input :interested_in_starting_chapter, hint: 'Check this if you don\'t have chapter in your area and would like to start one'
