%h2= @title

%table.table
  %thead
    %tr.row
      %th Name
      %th Email
      %th Volunteer?
      %th City
      %th Chapter / (Potential)
      %th Action
  %tbody
    - @members.each do |member|
      %tr.row
        %td= link_to(member.name, member)
        %td= member.user ? member.user.email : member.email
        %td= member.user ? (member.user.interested_in_volunteering ? "Yes" : "No") : "No"
        %td= member.city
        %td= member.potential_chapter ? "(#{member.potential_chapter.name})" : member.chapter.name
        %td= render partial: 'members/actions', locals: { member: member }
= will_paginate @users, renderer: BootstrapPagination::Rails
