%h2= @title

= DynamicTable::Table.new(view: self, base_path: chapter_members_path(@chapter), filters: Member::MEMBER_FILTERS, params: params).generate do |dt|
  Search: #{dt.text_field_tag :search}
  - unless @chapter.is_state_wide
    By Type: #{dt.select_tag_options_for_select(:member_type, Member::MEMBER_TYPES_HASH)}
  By Attributes: #{dt.select_tag_options_for_select(:attr_type, Member::MEMBER_ATTRS_HASH)}
  %table.table
    %thead
      %tr.row
        %th Name
        %th Email
        %th Volunteer?
        %th City
        %th Chapter / (Potential)
        %th Action
    %tbody{dt.refreshable("table-body")}
      - @members.each do |member|
        %tr.row
          %td= link_to(member.name, member)
          %td= member.user ? member.user.email : member.email
          %td= member.user ? (member.user.interested_in_volunteering ? "Yes" : "No") : "No"
          %td= member.city
          %td= member.potential_chapter ? "(#{member.potential_chapter.name})" : member.chapter.name
          %td= render partial: 'members/actions', locals: { member: member }
  %div{dt.refreshable("pagination")}
    = will_paginate @users, renderer: BootstrapPagination::Rails
