= semantic_form_for @member do |f|
  - unless f.object.user
    = f.input :email, input_html: { disabled: true }
  - if is_current_user?(f.object, current_user) || current_user.can_view_members?
    = render partial: 'members/user_details', locals: { f: f, disabled: true }
    - if f.object.message_controls.present?
      %hr
      = f.fields_for :message_controls do |ff|
        = render partial: 'message_controls/form', locals: { f: ff, disabled: true }

  %hr
  - if f.object.user
    = render partial: 'users/officers', locals: { user: f.object.user }
    = render partial: 'users/roles', locals: { user: f.object.user }
  = render partial: 'members/bio', locals: { member: f.object }

  - if f.object.user
    - if is_current_user?(f.object, current_user) || current_user.can_view_members?
      = f.fields_for :user do |ff|
        %hr
        %h2 Volunteering
        = ff.inputs do
          .check_box_or_radio
            = ff.input :interested_in_volunteering, input_html: { disabled: true}

        - f.object.answers.each do |answer|
          = render partial: 'answers/show', locals: { answer: answer }

.row
  .col-md-3
    %strong General Tags
  .col-md-3
    %strong Subcaucus
  .col-md-3
    %strong Sources
  .col-md-3
    %strong District
.row
  .col-md-3
    = @member.general_tags.map(&:name).join(", ")
  .col-md-3
    = @member.subcaucuses.map(&:name).join(", ")
  .col-md-3
    = @member.sources.map(&:name).join(", ")
  .col-md-3
    = @member.districts.map(&:name).join(", ")
.row
  .col-md-12
    %strong Notes
.row
  .col-md-12
    = Kramdown::Document.new(@member.notes || "").to_html.html_safe
%hr
= render partial: 'members/actions', locals: { member: @member }

