%hr
- if accounts.present?
  %table.table
    %tr
      %td Name
      %td Actions
    - accounts.each do |account|
      %tr
        %td= account.name
        %td
          - if current_user && current_user.member_of_account(account)
            = link_to "Enter", enter_account_path(account), method: :put, class: 'btn btn-sm btn-success'
            - if can?(current_user, :edit, account)
              = link_to "Edit", edit_account_path(account), class: 'btn btn-sm btn-primary'
            - if can?(current_user, :destroy, account)
              = link_to "Destroy", account_path(account), method: :delete, class: 'btn btn-sm btn-danger'
          - if !current_user || !current_user.member_of_account(account)
            = link_to "Join", join_account_path(account), class: 'btn btn-sm btn-success'
- else
  %p No Accounts available to join
